{% extends 'adventures/base.html' %}
{% block body %}
<div id="top-part">
    {% if back_scene %}
    <a class="button" href="{% url 'scene_view' back_scene %}">Back</a>
    {% endif %}
    {% block title %}
    <h1 class="read-aloud">{{ scene.title }}</h1>
    {% endblock %}
    {% block description %}
    {% if description_override %}
    <p class="read-aloud">{{ description_override }}</p>
    {% else %}
    <p class="read-aloud">{{ scene.text|default:"" }}</p>
    {% endif %}
    {% endblock %}
</div>
<div id="bottom-part">
    <div id="button-container">
    {% for scene_button in scene_buttons %}
        <a class="button" href="{{ scene_button.next_scene.get_url }}{{ scene_button.query_params }}">{{ scene_button.text }}</a>
    {% endfor %}
    </div>

    {% if scene.timeout and scene.timeout_next_scene %}
    <progress id="timeout_bar" value="{{ scene.timeout }}" max="{{ scene.timeout }}"></progress>
    <script>
    var timeoutEndsInSecs = parseInt("{{ scene.timeout }}");
    setInterval(function() {
        if (timeoutEndsInSecs <= 0) {
            const queryParams = new URLSearchParams(window.location.search);
            window.location.href = "{{ scene.timeout_next_scene.get_url }}" + "?" + queryParams.toString();
        }
        const el = document.getElementById("timeout_bar");
        el.value = timeoutEndsInSecs;
        timeoutEndsInSecs -= 0.5;
    }, 500);
    </script>
    {% endif %}
</div>
<style>
#top-part {
    padding: 1rem;
    text-align: center;
    height: 40vh;
}
#bottom-part {
    padding: 1rem;
    text-align: center;
    height: 40vh;
}
#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button {
    padding: 1rem;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border-radius: 0.2rem;
    text-decoration: none;
    font-size: 2rem;
    border: 0.2rem solid #4CAF50;
}
</style>
<script>
let context = null;

const speak = (text) => {
  console.log(text);
  const utter = new SpeechSynthesisUtterance();
  utter.lang = 'fi-FI';
  utter.text = text;
  speechSynthesis.cancel();
  speechSynthesis.speak(utter);
}
if (window.speechSynthesis) {
  speechSynthesis.getVoices();
}

const speakAloud = (text) => {
  if (window.speechSynthesis) {
    speak(text);
  }
}

const speakElements = document.getElementsByClassName("read-aloud");
let totalText = "";
for (let i = 0; i < speakElements.length; i++) {
    if (!speakElements[i].textContent.trim()) {
        continue;
    }
    totalText += speakElements[i].textContent;
    totalText += ". ";
}
speakAloud(totalText);
</script>
{% endblock %}
