{% extends 'adventures/base.html' %}
{% block body %}
<div id="top-part">
    {% if back_scene %}
    <a class="button" href="{% url 'scene_view' back_scene %}">Back</a>
    {% endif %}
    <h1>{{ scene.title }}</h1>
    {% block description %}
    {% if description_override %}
    <p>{{ description_override }}</p>
    {% else %}
    <p>{{ scene.description }}</p>
    {% endif %}
    {% endblock %}
</div>
<div id="bottom-part">
    <div id="button-container">
    {% for scene_button in scene_buttons %}
        <a class="button" href="{{ scene_button.next_scene.get_url }}{{ scene_button.query_params }}">{{ scene_button.text }}</a>
    {% endfor %}
    </div>

    {% if scene.timeout and scene.timeout_next_scene %}
    <progress id="timeout_bar" value="{{ scene.timeout }}" max="{{ scene.timeout }}"></progress>
    <script>
    var timeoutEndsInSecs = parseInt("{{ scene.timeout }}");
    setInterval(function() {
        if (timeoutEndsInSecs <= 0) {
            const queryParams = new URLSearchParams(window.location.search);
            window.location.href = "{{ scene.timeout_next_scene.get_url }}" + "?" + queryParams.toString();
        }
        const el = document.getElementById("timeout_bar");
        el.value = timeoutEndsInSecs;
        timeoutEndsInSecs -= 0.5;
    }, 500);
    </script>
    {% endif %}
</div>
<style>
#top-part {
    padding: 1rem;
    text-align: center;
    height: 40vh;
}
#bottom-part {
    padding: 1rem;
    text-align: center;
    height: 40vh;
}
#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button {
    padding: 1rem;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border-radius: 0.2rem;
    text-decoration: none;
    font-size: 2rem;
    border: 0.2rem solid #4CAF50;
}
</style>
{% endblock %}
